.addimage-container {
    background-color:#ccc8c8;
    border: 1px solid #141105;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 92%;
    border-radius: 20px;
}

.add-image {
    background-image: url('../../../assets/img/add-image-icon.svg');
    height: 120px;
    width: 120px;
    background-size: cover;
    display: block;
}

.remove-icon {
    background-image: url('../../../assets/img/remove-icon.svg');
    height: 110px;
    width: 50px;
    background-size: cover;
    display: block;
}
.time-icon {
    background-image: url('../../../assets/img/time-icon.svg');
    height: 30px;
    width: 30px;
    background-size: cover;
    display: block;
    margin: 11px 0px;
}
.remove-image {
    height: 115px;
    width: 70px;
    margin: 10px 0px;
    border-radius: 20px;
}
.close-icon {
    background-image: url('../../../assets/img/image-close-icon.svg');
    height: 26px;
    width: 26px;
    display: block;
    position: absolute;
    cursor: pointer;
    background-color: snow;
    background-size: contain;
    z-index: 1;
    border-radius: 45%;
}