.stitched {
    background: rgb(223, 221, 221);
    color: rgb(24, 23, 23);
    line-height: 1.3em;
    border: 2px dashed rgb(13, 2, 117);
    border-radius: 10px;
    box-shadow: 0 0 0 4px #d8d7d8, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    /* text-shadow: -1px -1px #aa3030; */
    font-weight: normal;
 }
.blue-patch{
    background: radial-gradient(rgb(0, 140, 255),#032e91);
    font-weight: 500 ;
    font-size: 50px;
    color: white;
}
.material-icons.two{
font-size:large;
border-width: 2px;
border-style: solid ;
border-color: black;
border-radius: 6px;
cursor: pointer;
/* border-image: initial; */
}
.stitched .col-5{
    color: rgb(68, 97, 177);
}

.first-box {
    border: 1px solid;
    border-color: black;
    width: 100%;
    border-radius: 5px;
}
