
<!-- <div class="wrapper wrapper-full-page"> -->
  <div class="page-header login-page header-filter"  style="background-image: url('../../../assets/img/login_background.jpg');background-size: cover;height: 100vh;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4" >
          <div class="card">
            <div _ngcontent-fmt-c15="" class="card-header card-header-primary py-4 d-flex justify-content-center">
              <h4 _ngcontent-fmt-c15="" class="card-title" style="font-size: 20px;">Welcome To MDS Smart Order</h4>
              <!-- <p _ngcontent-fmt-c15="" class="card-category">
                Are you looking for more components? Please check our Premium Version of Material Dashboard Angular.
              </p> -->
            </div>
            <form [formGroup]="login">
                <div class="card-body" *ngIf="! islogin">
                  <div class="row justify-content-center">
                    <h3 class="text-primary" data-color="blue" style="font-weight: 500;font-size: 20px;">Sign in</h3>
                  </div>
                  <div class="d-flex justify-content-center">
                    <span class="dropup" style="cursor: pointer;">
                      <button href="#" class="dropdown-toggle btn btn-primary btn-round background-color-primary" data-toggle="dropdown">{{(selectedRole)? selectedRole : 'select role'}}<b class="caret"></b></button>
                      <ul class="dropdown-menu dropdown-primary dropdown-menu-right ">
                        <li><a *ngFor="let item of rolls" (click)="selectRole(item.role)">{{item.role}}</a></li>
                      </ul>
                  </span>
                  </div>
                  <div class="d-flex justify-content-center my-3">
                    <div class="col-3 pr-0">
                      <mat-form-field style="top: auto;">
                        <!-- <mat-label>Favorite animal</mat-label> -->
                        <mat-select formControlName="countryCode">
                          <mat-option [value]="item.code" *ngFor="let item of countryCode">{{item.code}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-9">
                      <mat-form-field class="example-full-width" style="top: 3px">
                        <input matInput placeholder="Mobile number" formControlName="mobileNumber" minlength="8"
                        maxlength="16" type="text" onlyDigits>
                      </mat-form-field>
                    </div>
                  </div>

                  </div>
                  <div class="card-footer d-flex justify-content-center" *ngIf="! islogin">
                    <div class="form-group " >
                      <button mat-raised-button type="button" class=" btn btn-primary btn-round background-color-primary" (click)="onLogin()">LETS GO</button>
                    </div>
                  </div>


            </form>
            <form [formGroup]="OtpForm">
                  <div class="card-body" *ngIf="islogin">
                    <div class="row justify-content-center">
                      <h3 class="text-primary" data-color="blue" style="font-weight: 500;font-size: 20px;">OTP Verification</h3>
                    </div>
                    <div class="">
                      <p class="m-0 d-flex justify-content-center">OTP sent to your registered Email id</p>
                      <p class="m-0 d-flex justify-content-center">and given Mobile number</p>
                      <p class="d-flex justify-content-center"><b>{{login.value.countryCode}}  {{login.value.mobileNumber}}</b></p>
                    </div>
                    
                    <div>
                      <div class="row otpbox p-0 m-0">
                        <mat-form-field class="col-2 px-1" style="top: auto; font-size:20px;font-weight: 500; text-align: center;">
                          <input formControlName="loginOtp1" maxlength="1" type="text" id="digit-1" (keyup)="movetoNext('loginOtp1', 'digit-2')"
                              matInput name="digit-1" data-next="digit-2" onlyDigits autocomplete="off"/>
                        </mat-form-field>

                        <mat-form-field class="col-2  px-1 " style="top: auto;font-size:20px;font-weight: 500; text-align: center;">
                          <input formControlName="loginOtp2" maxlength="1" type="text" id="digit-2" (keyup)="movetoNext('loginOtp2', 'digit-3')"
                              matInput name="digit-2" data-next="digit-3" data-previous="digit-1" onlyDigits autocomplete="off"/>
                        </mat-form-field>

                        <mat-form-field class="col-2  px-1" style="top: auto;font-size:20px;font-weight: 500; text-align: center;">
                          <input formControlName="loginOtp3" maxlength="1" type="text" id="digit-3" (keyup)="movetoNext('loginOtp3', 'digit-4')"
                              matInput name="digit-3" data-next="digit-4" data-previous="digit-2" onlyDigits autocomplete="off"/>
                        </mat-form-field>
                          
                        <mat-form-field class="col-2  px-1" style="top: auto;font-size:20px;font-weight: 500; text-align: center;">
                          <input formControlName="loginOtp4" maxlength="1" type="text" id="digit-4" (keyup)="movetoNext('loginOtp4', 'digit-5')"
                              matInput name="digit-4" data-next="digit-5" data-previous="digit-3" onlyDigits autocomplete="off"/>
                        </mat-form-field>
                    
                        <mat-form-field class="col-2  px-1" style="top: auto;font-size:20px;font-weight: 500; text-align: center;">
                          <input formControlName="loginOtp5" maxlength="1" type="text" id="digit-5" (keyup)="movetoNext('loginOtp5', 'digit-6')"
                            matInput name="digit-5" data-next="digit-6" data-previous="digit-4" onlyDigits autocomplete="off"/>
                        </mat-form-field>

                        <mat-form-field class="col-2  px-1" style="top: auto;font-size:20px;font-weight: 500;text-align: center;">
                          <input formControlName="loginOtp6" maxlength="1" type="text" id="digit-6"
                            matInput name="digit-6" data-previous="digit-5" onlyDigits autocomplete="off"/>
                        </mat-form-field>
                    
                      </div>
                      <div class="d-flex justify-content-end">
                        <span (click)="resendOtp()" class="{{subscribeTimer > 0 ? 'disable-pointer' : 'text-primary cursor-pointer'}}">
                          {{subscribeTimer > 0 ? subscribeTimer : ''}} Resend OTP
                        </span>
                      </div>
                  </div>
                  </div>
                  <div class="card-footer d-flex justify-content-center" *ngIf="islogin">
                      <div class="form-group">
                        <button mat-raised-button (click)="SubmitOtp()" class=" btn btn-primary btn-round background-color-primary">Submit</button>
                      </div>
                  </div>
            </form>
          </div>
      </div>
      </div>
    </div>
  </div>
<!-- </div> -->
