
.background-green {
    background: linear-gradient(60deg, #99e453, #219916);
    border-radius: 10px;
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 3px;
    padding-bottom: 2px;
    color: #ffff;
    cursor: pointer;
}

.first-box {
    border: 1px solid;
    border-color: black;
    width: 100%;
    /* height: 400px; */
    border-radius: 5px;
}

.second-box {
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.restaurant-name {
    font-weight: bold;
    font-size: 17px;
    /* line-height: 1px; */
    color: #323232;
}

.open {
    color: greenyellow;
    font-size: 14px;
    position: absolute;

}

.close {
    color: red;
    font-size: 14px;
    position: absolute;

}
