
<div class="pac-container">
    <input #search autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control">
</div>
<agm-map (mapReady)="mapReady()"  [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="chooseLocation($event)">
    <agm-marker [latitude]="latitude" [longitude]="longitude" *ngIf="locationSelected"></agm-marker>
</agm-map>





<!-- <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/> -->