<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <form [formGroup]="register">
                        <div _ngcontent-fmt-c15="" class="card-header card-header-primary py-4 d-flex justify-content-center">
                        <h4 _ngcontent-fmt-c15="" class="card-title">{{title}}</h4>
                      </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Promo Code Name" formControlName="promo_code_name"
                                         maxlength="128" name="promo_code_name" id="text" >
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width"> 
                                        <input matInput placeholder="Promo Code Description" formControlName="promo_code_description"
                                         maxlength="256" name="promo_code_description" id="text" >
                                      </mat-form-field> 
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Discount %" formControlName="discount"
                                              onlyDigits maxlength="10" name="discount" id="text" >
                                          </mat-form-field>  
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Minimum Cart Value" formControlName="minimum_cart_value"
                                              onlyDigits maxlength="10" name="minimum_cart_value" id="text" >
                                          </mat-form-field>  
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Maximum Discount Value" formControlName="maximum_discount_value"
                                              onlyDigits maxlength="10" name="maximum_discount_value" id="text" >
                                          </mat-form-field>  
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Maximum Usage Count Per Use" formControlName="maximum_usage_count"
                                              onlyDigits maxlength="10" name="maximum_usage-count" id="text" >
                                          </mat-form-field>  
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Validity Date</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="validity_date">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field class="example-full-width">
                                            <input class="typeahead-basic" matInput [resultFormatter]="formatterConstitution"
                                            [inputFormatter]="formatterConstitution" placeholder="Select Restaurant Name" 
                                            (focus)="focusConstitution$.next($event.target.value)"
                                            (click)="clickContitution$.next($event.target.value)" 
                                            value="{{restaurantSelected}}"
                                            formControlName="restaurant_id"
                                            [ngbTypeahead]="searchConstituon"/>
                                          </mat-form-field>
                                    </div>
                                </div>
                            <div class="d-flex justify-content-end">
                                <button mat-raised-button type="submit" class="btn btn-primary" (click)="CreatePromoCode()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>