<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <form [formGroup]="register">
                        <div _ngcontent-fmt-c15=""
                            class="card-header card-header-primary py-4 d-flex justify-content-center">
                            <h4 _ngcontent-fmt-c15="" class="card-title">Restaurant Food Dish</h4>
                        </div>
                        <div class="card-body"> 

                            <div class="row justify-content-center">
                                <div class="col-4 my-auto">
                                    <div class="picture-container">
                                    <div class="picture-square">
                                        <img [src]="downloadableURL" onerror="this.onerror=null;this.src='../../assets/img/image_placeholder.jpg'"  width="200px;"
                                        height="120px;" class="picture-src" id="PicturePreview" title="" />
                                        <input type="file" #picture (change)="imageUpload($event)" style="display: none;" accept=".jpeg,.jpg,.png,">
                                    </div>
                                    <!-- <h6 class="description">Choose Picture</h6> -->
                                    </div>
                                    
                                    <div class=" d-flex justify-content-center">
                                    <!-- {{downloadableURL}} download url -->
                                    
                                    <div class="form-group " >
                                        <button type="button" (click)="picture.click()" mat-raised-button class="btn btn-primary btn-round background-color-primary">Upload Picture</button>
                                    </div>
                                    </div>
                                    <div *ngIf="progressValue | async as val" class="d-flex justify-content-center">
                                    <progress type="warning"  [value]="val" style="height: 3mm; width: 200px" max="100" ></progress>
                                    <br />
                                    </div>
                                    <div *ngIf="progressValue | async as val" class="d-flex justify-content-center">
                                        <span *ngIf="val<100" style="font-size: 16px;">{{ val | number}}% </span><span *ngIf="val == 100" style="color:rgb(1, 153, 34);  font-size: 16px">Completed !</span>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Food Dish Name" formControlName="food_dish_name"
                                         maxlength="128" name="food_dish_name" id="text">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Food Dish Description" formControlName="food_dish_description" 
                                          maxlength="256" name="food_dish_description" id="text">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input class="typeahead-basic" matInput
                                            [resultFormatter]="formatterConstitution"
                                            [inputFormatter]="formatterConstitution"
                                            placeholder="Select Restaurant Name"
                                            (focus)="focusConstitution$.next($event.target.value)"
                                            (click)="clickContitution$.next($event.target.value)"
                                            (selectItem)="selectId($event)"
                                            value="{{restaurantSelected}}"
                                            formControlName="restaurant_name" [ngbTypeahead]="searchConstituon" />
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input class="typeahead-basic" matInput [resultFormatter]="formatterCategory"
                                            [inputFormatter]="formatterCategory" placeholder="Select Category Name"
                                            (focus)="focusCategory$.next($event.target.value)"
                                            (click)="clickCategory$.next($event.target.value)"
                                            value="{{categorySelected}}"
                                            formControlName="food_category" [ngbTypeahead]="searchCategory" />
                                    </mat-form-field>
                                    <!-- </div> -->
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Food price without tax"
                                            formControlName="pricewithout_tx" onlyDigits maxlength="256"
                                            name="pricewithout_tx" id="text">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Food price with discount without tax"
                                            formControlName="price_discount" onlyDigits maxlength="256"
                                            name="price_discount" id="text">
                                    </mat-form-field>
                                    <!-- <div class="mx-5"> -->
                                    <p>Food Type</p>
                                    <mat-radio-group aria-label="Select an option" class="" formControlName="food_type">
                                        <mat-radio-button value="VEG" class="mx-1">VEG</mat-radio-button>
                                        <mat-radio-button value="NON-VEG" class="mx-1">NON-VEG</mat-radio-button>
                                        <mat-radio-button value="EGG" class="mx-1">EGG</mat-radio-button>
                                    </mat-radio-group>
                                    <div class="togglebutton">
                                        <label style="font-weight: 800;color: black;" (click)="isAvailableForSale =! isAvailableForSale">
                                            Is available for sale
                                            <input type="checkbox" checked="isAvailableForSale">
                                            <span class="toggle"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button mat-raised-button type="submit" class="btn btn-primary"
                                    (click)="CreateFoodDish()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>